<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>Simple example - Editor.md examples</title>
    <link rel="stylesheet" href="/lib/editormd/examples/css/style.css" />
    <link rel="stylesheet" href="/lib/editormd/css/editormd.min.css">
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
</head>

<body>


    <div id="md-content">
                <textarea style="display:none;">[TOC]
            </textarea>
    </div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/lib/editormd/editormd.min.js"></script>
<script type="text/javascript">
    var contentEditor;
    $(function() {
        contentEditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            path    : "/lib/editormd/lib/"
        });
    });
</script>
</body>
</html>